{% extends 'base.html' %}
{% block content %}

<br><br>
<img src="{{ film.afbeelding.url }}" class="film_afbeelding"><br><br>
{{ film.titel }}
{% if film.url %}
<a href="{{ film.url }}" class=""> Film Link </a><br><br>
{% endif %}
<h3>Reviews</h3>
<ul>
    {% for review in reviews %}
    <li>
        <h4>Review door {{ review.user.username }}</h4>
        <p>{{ review.datum }}</p>
        <p>{{ review.tekst }}</p>
        {% if user.is_authenticated and user == review.user %}
        <a href="{% url 'wijzigreview' review.id %}">Review aanpassen</a>
        <a href="{% url 'verwijderreview' review.id %}">Delete</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% if user.is_authenticated %}
<a href="{% url 'maakreview' film.id %}">
    Voeg review toe
</a><br><br>
{% endif %}


{% endblock content %}